* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 1rem;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}

.header {
  font-family: "Playfair Display", serif;
  width: 100%;
  padding: 10px;
  height: 100px;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}
.header .containero {
  max-width: 100%;
  margin: 0 auto;
  min-height: 80px;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}
.header .menuo {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.header .menuo .img-btc {
  width: 65px;
  height: 65px;
  padding: 10px;
}
.header .tutorialeso {
  padding: 10px;
  font-size: 2.5rem;
  color: #4dc2b7;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}
.header label {
  cursor: pointer;
  display: none;
  border: 2px solid black;
}
.header .menu-iconoo {
  width: 50px;
  height: 50px;
}
.header .navbaro {
  padding-right: 10px;
}
.header .navbaro ul li {
  position: relative;
  float: left;
}
.header .navbaro ul li a {
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header .navbaro ul li a:hover {
  color: #4dc2b7;
  border: 3px solid #032546;
  transform: scale(1.1, 1.1);
}

#menuo {
  display: none;
}

.main {
  font-family: "Playfair Display", serif;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .contenedor-main form {
  padding: 5px;
  background-color: black;
}
.main .contenedor-main form label {
  color: #ffffff;
}
.main .contenedor-main form label option {
  color: #ffffff;
}
.main .contenedor-main h2 {
  color: #4dc2b7;
  text-align: center;
}
.main .contenedor-main .imagen-central {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main-info h2 {
  color: #4dc2b7;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}
.main-info article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.main-info article p {
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0 50px 10px 50px;
  color: white;
  text-align: left;
}
.main-info article p spam {
  color: rgb(255, 165, 0);
}
.main-info article img {
  width: 800px;
  height: 300px;
  border: 4px solid rgb(255, 165, 0);
  border-radius: 100%;
}
.main-info div {
  text-align: center;
  padding: 50px;
}
.main-info div a {
  font-size: 2rem;
  text-decoration: none;
  color: #4dc2b7;
  padding: 5px;
}
.main-info div a spam {
  color: rgb(255, 165, 0);
}
.main-info div a:hover {
  text-shadow: 3px 3px 10px black, 5px 5px 5px white;
  border-radius: 70%;
  padding: 15px;
}

.main-mercado {
  color: white;
  display: flex;
  flex-direction: column;
}
.main-mercado div h2 {
  color: #4dc2b7;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: 2px underline;
  padding: 5px;
}
.main-mercado div p {
  padding: 10px;
  text-align: center;
}
.main-mercado .accordion {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.main-mercado .accordion .accordion-item {
  box-shadow: none;
  border: 1px solid rgb(255, 165, 0);
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}
.main-mercado .accordion .accordion-item .accordion-header {
  text-decoration: none;
  color: white;
}
.main-mercado .accordion .accordion-item .accordion-header .accordion-button {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  font-size: 2rem;
}
.main-mercado .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.main-mercado .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-up-fill' viewBox='0 0 16 16'%3E%3Cpath d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z'/%3E%3C/svg%3E");
}
.main-mercado .accordion .accordion-item .accordion-collapse .accordion-body {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-mercado .accordion .accordion-item .accordion-collapse .accordion-body .img-fluid {
  padding: 10px;
  text-align: center;
}
.main-mercado .accordion .accordion-item .accordion-collapse .accordion-body p {
  text-align: left;
  color: white;
}
.main-mercado .accordion .accordion-item .accordion-collapse .accordion-body ul li {
  color: white;
}

.tutoriales {
  color: white;
}
.tutoriales .nav .nav-link {
  color: #4dc2b7;
}
.tutoriales .nav .nav-link:hover {
  color: rgb(255, 165, 0);
}
.tutoriales .tab-content .tab-pane .container-fluid .row div h2 {
  color: #4dc2b7;
  text-align: center;
}
.tutoriales .tab-content .tab-pane .container-fluid .row div h2 a {
  text-decoration: none;
  color: #4dc2b7;
}
.tutoriales .tab-content .tab-pane .container-fluid .row div h2 a:hover {
  color: rgb(255, 165, 0);
  text-shadow: 5px 5px 10px rgb(255, 165, 0);
}
.tutoriales .tab-content .tab-pane .container-fluid .row div p {
  text-align: center;
  padding: 5px;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
  justify-items: center;
}
.contenedor-grid .main-enlaces {
  grid-area: main;
}
.contenedor-grid .main-enlaces .formulario {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.contenedor-grid .main-enlaces .formulario p {
  font-size: 2rem;
  padding: 5px;
}
.contenedor-grid .main-enlaces .formulario input {
  background-color: #4dc2b7;
  color: white;
  font-size: 1.5rem;
}
.contenedor-grid .main-enlaces .formulario textarea {
  background-color: #4dc2b7;
  color: white;
}
.contenedor-grid .main-enlaces .formulario .btn {
  border: 2px solid white;
  color: white;
  font-size: 2rem;
}
.contenedor-grid .main-enlaces .formulario .btn:hover {
  background-color: white;
  color: #4dc2b7;
}
.contenedor-grid .aside-enlaces {
  grid-area: aside;
  color: white;
  text-align: center;
  padding: 20px;
}
.contenedor-grid .aside-enlaces h2 {
  color: #4dc2b7;
}
.contenedor-grid .aside-enlaces p {
  padding: 5px;
  font-size: 1rem;
}
.contenedor-grid .aside-enlaces .enlace1 {
  width: 100px;
  border: 3px solid #f0c620;
  background-color: #000000;
  border-radius: 45%;
  font-weight: bold;
}
.contenedor-grid .aside-enlaces .enlace1:hover {
  box-shadow: 3px 3px 10px #ffd700;
}
.contenedor-grid .aside-enlaces .enlace1 a {
  color: #ffd700;
  text-decoration: none;
}
.contenedor-grid .aside-enlaces .enlace1 a:hover {
  color: #ffd700;
  text-shadow: 3px 3px 10px #ffd700;
}
.contenedor-grid .aside-enlaces .enlace2 {
  text-align: right;
  color: #4dc2b7;
}
.contenedor-grid .aside-enlaces .enlace2 a {
  text-decoration: none;
  color: #4dc2b7;
  border: 1px solid #ffffff;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 30%;
}
.contenedor-grid .aside-enlaces .enlace2 a:hover {
  color: #ffd700;
  background-color: #000000;
  border: #000000;
}
.contenedor-grid .aside-enlaces .enlace2 a spam {
  font-weight: bold;
  font-size: 1.4rem;
}
.contenedor-grid .aside-enlaces .enlace3 {
  background-color: #ffffff;
  width: 100px;
  font-size: 1.5rem;
  border-radius: 40%;
}
.contenedor-grid .aside-enlaces .enlace3:hover {
  box-shadow: 5px 3px 10px #000000;
}
.contenedor-grid .aside-enlaces .enlace3 a {
  text-decoration: none;
  color: #868080;
}
.contenedor-grid .aside-enlaces .enlace3 a:hover {
  text-shadow: 2px 2px 6px #868080;
}
.contenedor-grid .aside-enlaces .enlace3 a spam {
  color: #20caf0;
}
.contenedor-grid .aside-enlaces .enlace4 {
  text-align: right;
}
.contenedor-grid .aside-enlaces .enlace4 img {
  width: 80px;
  border-radius: 100%;
}
.contenedor-grid .aside-enlaces .enlace4 img:hover {
  box-shadow: 10px 10px 5px #000000;
}
.contenedor-grid .aside-enlaces .enlace5 {
  text-align: left;
}
.contenedor-grid .aside-enlaces .enlace5 a {
  width: 200px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  padding: 15px;
}
.contenedor-grid .aside-enlaces .enlace5 a:hover {
  text-transform: capitalize;
  font-weight: bold;
  border: 3px outset #ffffff;
  padding: 10px;
}

.aside {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  border: 1px solid black;
}
.aside .noticias {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.aside .noticias h2 {
  color: #4dc2b7;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}
.aside .noticias p {
  text-align: center;
  font-style: italic;
}
.aside .noticias div {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.aside .noticias div img {
  width: 1000px;
  height: 500px;
  border-radius: 60%;
}
.aside .noticias div article p {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
}
.aside .noticias h3 {
  text-align: center;
}
.aside .noticias h3 a {
  text-align: center;
  text-decoration: none;
  color: rgb(239, 137, 43);
  transition: all 0.5s ease;
}
.aside .noticias h3 a:hover {
  border: 2px black solid;
  background-color: rgb(239, 137, 43);
  color: #ffffff;
  padding: 10px;
  border-radius: 30%;
  transform: scale(1.1, 1.1);
}

.aside-info {
  padding: 10px;
}
.aside-info .aside-contenido {
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aside-info .aside-contenido h2 {
  color: #4dc2b7;
  text-decoration: underline;
}
.aside-info .aside-contenido .video {
  padding: 20px;
}

.aside2-info {
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: auto;
}
.aside2-info h3 {
  color: #4dc2b7;
  text-align: center;
  text-decoration: underline;
  padding: 10px 0px 50px 0px;
}
.aside2-info .grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "caja1 caja2 caja3" "caja4 caja5 caja6";
  justify-items: center;
  align-items: center;
}
.aside2-info .grid-info .caja1 {
  grid-area: caja1;
  padding: 5px;
  border: 2px black solid;
  background-image: url(../assets/img/cripto-wallet2.jpg);
  background-size: cover;
  color: black;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja1:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja1 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja1 article p {
  font-size: 0.8rem;
  padding: 5px;
  font-weight: bold;
}
.aside2-info .grid-info .caja2 {
  border: 2px black solid;
  grid-area: caja2;
  padding: 3px;
  background-color: #2fbcae;
  background-image: url(../assets/img/pago-btc.jpg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: bottom right;
  color: black;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja2:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja2 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja2 article p {
  font-size: 0.8rem;
  padding: 2px;
  font-weight: bold;
}
.aside2-info .grid-info .caja3 {
  border: 2px black solid;
  grid-area: caja3;
  padding: 3px;
  background-color: #2fbcae;
  background-image: url(../assets/img/seguridad-btc2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  color: black;
  font-size: 0.5rem;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja3:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja3 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja3 article p {
  font-size: 0.8rem;
  padding: 5px;
  font-weight: bold;
}
.aside2-info .grid-info .caja4 {
  border: 2px black solid;
  grid-area: caja4;
  padding: 3px;
  background-color: black;
  background-image: url(../assets/img/btc-inter.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  font-size: 0.5rem;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja4:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja4 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja4 article p {
  font-size: 0.6rem;
  padding: 5px;
  font-weight: bold;
}
.aside2-info .grid-info .caja5 {
  border: 2px black solid;
  grid-area: caja5;
  padding: 3px;
  background-color: #2fbcae;
  color: black;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja5:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja5 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja5 article p {
  font-size: 0.8rem;
  padding: 5px;
  font-weight: bold;
}
.aside2-info .grid-info .caja6 {
  border: 2px black solid;
  grid-area: caja6;
  padding: 3px;
  background-color: black;
  color: white;
  width: 350px;
  height: 300px;
  transition: all 1s ease;
}
.aside2-info .grid-info .caja6:hover {
  box-shadow: 3px 3px 10px white, 4px 4px 10px gold;
  transform: translate(0px, -10px);
  border-radius: 10px;
}
.aside2-info .grid-info .caja6 h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.aside2-info .grid-info .caja6 article p {
  font-size: 0.8rem;
  padding: 5px;
  font-weight: bold;
}

.aside-mercado {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 1.2;
}
.aside-mercado div img {
  padding: 20px;
  width: 900px;
}
.aside-mercado div h4 {
  color: #4dc2b7;
  text-decoration: underline;
}
.aside-mercado div p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 10px;
}

.aside-enlaces2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 50px;
}
.aside-enlaces2 h4 {
  text-decoration: underline;
  color: #4dc2b7;
}
.aside-enlaces2 img {
  width: 800px;
  padding: 30px 0px 30px 0px;
}
.aside-enlaces2 p {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}

.footer {
  font-family: "Playfair Display", serif;
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer h2 a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}
.footer h2 a:hover {
  color: #4dc2b7;
  padding: 10px;
}
.footer .enlaces ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
.footer .enlaces ul li {
  margin: 5px;
  padding: 10px;
  color: #ffffff;
}
.footer .enlaces ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer .enlaces ul li a:hover {
  color: #4dc2b7;
}
.footer .redes {
  display: flex;
  flex-direction: row;
}
.footer .redes h4 {
  font-size: 1rem;
}
.footer .redes ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}
.footer .redes ul li img {
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 5px;
}
.footer .boton {
  width: 110px;
  line-height: 20px;
  color: white;
  border: 2px ridge #000000;
  background-color: #4dc2b7;
}
.footer .boton:hover {
  box-shadow: 2px 2px #000000;
  color: rgb(255, 165, 0);
  background-color: #ffffff;
}
.footer .mod .dialog .conten .modheader .titulo {
  font-weight: bold;
  text-decoration: underline;
  color: #4dc2b7;
  font-size: 2rem;
}
.footer .mod .dialog .conten .modbody p {
  color: #000000;
}
.footer .mod .dialog .conten .modbody p spam {
  color: #000000;
  font-weight: bold;
}
.footer .mod .dialog .conten .modfooter .pie {
  font-weight: bold;
  color: #4dc2b7;
}
.footer .mod .dialog .conten .modfooter .pie p {
  font-size: 2rem;
}
.footer .mod .dialog .conten .modfooter .pie p spam {
  color: #000000;
}

@media only screen and (max-width: 1100px) {
  .menuo {
    top: 0;
    padding: 5px;
  }
  .menuo .tutorialeso {
    font-size: 2rem;
  }
  .menuo label {
    display: initial;
  }
  .menuo .navbaro {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
    display: none;
  }
  .menuo .navbaro ul li {
    width: 100%;
  }
  .menuo #menuo:checked ~ .navbaro {
    display: initial;
  }
  .main .contenedor-main .imagen-central img {
    width: 100%;
  }
  .aside .noticias div img {
    width: 50%;
    height: auto;
  }
  .footer {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .footer h2 a {
    font-size: 1rem;
  }
  .footer .enlaces ul {
    font-size: 0.6rem;
  }
  .footer .enlaces ul li a {
    font-size: 0.6rem;
  }
  .footer .redes {
    display: flex;
    flex-direction: column;
  }
  .main-info div a {
    font-size: 1.2rem;
  }
  .aside-info .aside-contenido .video {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .main-info article img {
    width: 100%;
  }
  .aside2-info .grid-info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja6";
  }
  .aside-mercado div img {
    width: 100%;
  }
  .aside-enlaces2 img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .menuo .tutorialeso {
    font-size: 1rem;
  }
  .main-info div a {
    font-size: 0.8rem;
  }
  .contenedor-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main" "aside";
  }
  .aside .noticias div {
    flex-direction: column;
  }
  .aside .noticias div img {
    width: 100%;
    height: auto;
  }
  .aside2-info .grid-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5" "caja6";
  }
  .contenido-mercado .main-mercado .accordion {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
