* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
.containero {
  max-width: 1200px;
  margin: 0 auto;
}
.contento {
  min-height: 80px;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}
.menuo {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tutorialeso {
  font-size: 25px;
  color: #4dc2b7;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}
.menuo img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.menuo .navbaro ul li {
  position: relative;
  float: left;
}
.menuo .navbaro ul li a {
  font-size: 18px;
  padding: 20px;
  color: #4dc2b7;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.menuo .navbaro ul li a:hover {
  color: #ffffff;
  border: 3px solid #032546;
}
#menuo {
  display: none;
}
.menu-iconoo {
  width: 25px;
}
.menuo label {
  cursor: pointer;
  display: none;
  border: 2px solid black;
}

@media (max-width: 1200px) {
  .contento {
    min-height: 70px;
  }
  .menuo {
    top: 0;
    padding: 5px;
  }

  .menuo label {
    display: initial;
  }
  .menuo .navbaro {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgb(2, 25, 48) 0%,
      hsl(199, 87%, 21%) 70%
    );
    display: none;
  }
  .menuo .navbaro ul li {
    width: 100%;
  }
  #menuo:checked ~ .navbaro {
    display: initial;
  }
}
.menuo h1 {
  font-size: 3rem;
}

.header {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.main {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.main .imagen-central {
  display: flex;
  justify-content: center;
}
.main div h2 {
  text-align: center;
}
.main div img {
  width: 900px;
  align-items: center;
  padding: 20px;
}
.aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  border: 1px solid black;
}
.aside .noticias p {
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
  color: #4dc2b7;
  text-align: left;
  text-align: center;
}
.aside .noticias {
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.aside h2 {
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}
.aside .noticias h3 {
  text-align: right;
}
.aside .noticias h3 a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.aside .noticias h3 a:hover {
  color: #4dc2b7;
  border-radius: 50%;
}
.main-info {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}
.main-info h2 {
  text-align: center;
  text-decoration: underline;
  color: #dedede;
}
.main-info p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}
.main-info p spam {
  color: rgb(255, 165, 0);
}
.main-info div {
  text-align: right;
  padding: 20px;
}
.main-info div a {
  font-size: 2rem;
  text-decoration: none;
  color: #4dc2b7;
  padding: 5px;
}
.main-info div a:hover {
  border: 2px solid black;
  border-radius: 10%;
  background: linear-gradient(
    90deg,
    hsl(171, 85%, 44%) 0%,
    hsl(36, 89%, 46%) 70%
  );
  color: #032546;
}
.aside-info {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
}
.aside-info .aside-contenido {
  padding: 20px;
  color: white;
  text-decoration: underline;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside-info .video {
  padding: 20px;
  width: 100%;
}

.footer {
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer h2 a {
  padding: 10px;
  text-decoration: none;
  color: #dedede;
}
.footer h2 a:hover {
  color: #4dc2b7;
  padding: 10px;
}
.footer .enlaces ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
.footer .enlaces ul li {
  margin: 5px;
  padding: 10px;
  color: white;
}
.footer .enlaces ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer .enlaces ul li a:hover {
  color: #4dc2b7;
}
.footer .redes {
  display: flex;
  flex-direction: row;
}
.footer .redes h4 {
  font-size: 1.3rem;
}
.footer .redes ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}
.footer .redes img {
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 5px;
}

.main-mercado {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-mercado h2 {
  text-align: center;
  font-size: 1.3rem;
  text-decoration: 2px underline;
}
.main-mercado p {
  padding: 10px;
  text-align: center;
  line-height: 1.3px;
  width: 100%;
  height: 50px;
}
.main-mercado details {
  width: 100%;
  height: auto;
  padding: 30px;
}
.main-mercado details summary:hover {
  color: #073763;
  background-color: #4dc2b7;
}
.main-mercado details div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main-mercado details img {
  width: 500px;
  height: auto;
}
.main-mercado .imagen-central {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.main-mercado article {
  text-align: center;
  line-height: 1.3;
  padding: 10px;
}

.tutoriales {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
}
.tutoriales .nav-link {
  color: #4dc2b7;
}
.tutoriales .nav-link:hover {
  color: #4dc2b7;
}
.container {
  width: 100%;
  height: auto;
}
.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
}
.main-enlaces {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  grid-area: main;
}
.main-enlaces .formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  color: #4dc2b7;
  padding: 10px;
}
.main-enlaces .formulario .formulario-interno {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.aside-enlaces-principales {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  grid-area: aside;
  color: #4dc2b7;
  text-align: center;
  padding: 20px;
}
.aside2 {
  background: linear-gradient(90deg, rgb(2, 25, 48) 0%, hsl(199, 87%, 21%) 70%);
  color: #4dc2b7;
  text-align: center;
  padding: 30px;
  line-height: 1.3;
}
.aside2 img {
  width: 800px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .main-info div a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #4dc2b7;
    padding: 5px;
  }
  .main-info div a:hover {
    border: 2px solid black;
    border-radius: 10%;
    background: linear-gradient(
      90deg,
      hsl(171, 85%, 44%) 0%,
      hsl(36, 89%, 46%) 70%
    );
    color: #032546;
  }
  .footer .enlaces ul {
    font-size: 0.5rem;
  }
  .footer .enlaces ul li a {
    font-size: 0.5rem;
  }
  .footer h2 a {
    font-size: 1rem;
  }
  .footer .redes h4 {
    font-size: 1rem;
  }
  .aside2 img {
    width: 100%;
    padding-bottom: 20px;
  }
  .main div img {
    width: 100%;
  }
}
