.footer {
  font-family: "Playfair Display", serif;
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
  background: linear-gradient($color-fondo);
  color: $color-letra;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  h2 {
    a {
      padding: 10px;
      text-decoration: none;
      color: #ffffff;
      &:hover {
        color: $color-titulo;
        padding: 10px;
      }
    }
  }
  .enlaces {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-around;
      list-style-type: none;
      text-decoration: none;
      li {
        margin: 5px;
        padding: 10px;
        color: #ffffff;
        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 1.2rem;
          &:hover {
            color: $color-titulo;
          }
        }
      }
    }
  }
  .redes {
    display: flex;
    flex-direction: row;
    h4 {
      font-size: 1rem;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-end;
      li {
        img {
          width: 30px;
          height: 30px;
          text-decoration: none;
          padding: 5px;
        }
      }
    }
  }
  .boton {
    width: 110px;
    line-height: 20px;
    color: $color-letra;
    border: 2px ridge #000000;
    background-color: $color-titulo;
    &:hover{
      box-shadow: 2px 2px #000000;
      color: $bitcoin;
      background-color: #ffffff;
    }
  }
  .mod {
    .dialog {
      .conten {
        .modheader {
          .titulo {
            font-weight: bold;
            text-decoration: underline;
            color: $color-titulo;
            font-size: 2rem;
          }
        }
        .modbody {
          p {
            color:#000000;
            spam {
              color: #000000;
              font-weight: bold;
            }
          }
        }
        .modfooter {
          .pie {
            font-weight: bold;
            color: $color-titulo;
            p {
              font-size: 2rem;
              spam {
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}
