.tutoriales {
  color: $color-letra;
  .nav {
    .nav-link {
      color: $color-titulo;
      &:hover {
        color: $bitcoin;
      }
    }
  }
  .tab-content {
    .tab-pane {
      .container-fluid {
        .row {
          div {
            h2 {
              color: $color-titulo;
              text-align: center;
              a {
                text-decoration: none;
                color: $color-titulo;
                &:hover{
                  color: $bitcoin;
                  text-shadow: 5px 5px 10px $bitcoin;
                }
              }
            }
            p {
              text-align: center;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
