.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
  justify-items: center;
  .main-enlaces {
    grid-area: main;
    .formulario {
      display: flex;
      flex-direction: column;
      padding: 10px;
      color: $color-letra;
      p {
        font-size: 2rem;
        padding: 5px;
      }
      input{
        background-color: $color-letra;
        color: white;
        font-size: 1.5rem;
      }
      textarea{
        background-color: $color-letra;
        color: white;
      }
      .btn{
        border: 2px solid $color-letra;
        color: $color-letra;
        font-size: 2rem;
        &:hover{
          background-color: $color-letra;
          color: white;
        }
      }
    }
  }
  .aside-enlaces {
    grid-area: aside;
    color: $color-letra;
    text-align: center;
    padding: 20px;
      p {
       padding: 5px;
       a {
         color: $color-letra;
       }
     }
    }
}

