.contenido-mercado {
  font-family: "Playfair Display", serif;
  .header {
    .contento {
      .menuo {
        .mercado {
          font-size: 1.5rem;
          padding: 20px;
          @include mediaquery(500px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .boton {
    position: fixed;
    width: 110px;
    line-height: 20px;
    bottom: 50px;
    right: 30px;
  }
  .mod {
    .dialog {
      .conten {
        .modheader {
          h2 {
            text-decoration: underline;
            color: hsl(0, 0%, 0%);
            font-size: 2rem;
          }
        }
        .modbody {
          p {
            color: $color-letra;
            spam {
              color: black;
              text-decoration: underline;
            }
          }
        }
        .modfooter {
          .pie {
            text-align: center;
            font-size: 2rem;
          }
        }
      }
    }
  }
  .main-mercado {
    background: linear-gradient($color-fondo);
    color: #4dc2b7;
    display: flex;
    flex-direction: column;

    div {
      h2 {
        text-align: center;
        font-size: 1.2rem;
        text-decoration: 2px underline;
        padding: 5px;
      }
      .texto-arriba {
        padding: 10px;
        text-align: center;
        line-height: 1.3px;
        height: 50px;
      }
    }
    .accordion {
      padding: 10px;
      .accordion-item {
        background: linear-gradient($color-fondo);
        height: auto;
        .accordion-header {
          .accordion-button {
            background: linear-gradient($color-fondo);
            color: $color-letra;
            font-size: 2rem;
          }
        }
        .accordion-collapse {
          .accordion-body {
            width: 100%;
            height: auto;
            section {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              img {
                width: 700px;
                height: auto;
                padding: 10px;
                text-align: center;
                @include mediaquery(800px) {
                  width: 100%;
                }
              }
              .article-mercado {
                text-align: left;
                color: $color-letra;
              }
              ul {
                li {
                  color: $color-letra;
                }
              }
            }
          }
        }
      }
    }
  }
  .aside-mercado {
    background: linear-gradient($color-fondo);
    color: #4dc2b7;
    text-align: center;
    padding: 20px;
    line-height: 1.2;
    div {
      .imagen-central {
        img {
          padding: 20px;
          width: 900px;
          @include mediaquery(900px) {
            width: 100%;
          }
        }
      }
      .article-aside {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.3;
        padding: 10px;
      }
    }
  }
}
