.header {
  font-family: "Playfair Display", serif;
  .contento {
    .menuo {
      .tutorialeso {
        font-size: 2rem;
        padding: 20px;
        @include mediaquery(1200px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.boton {
  position: fixed;
  width: 110px;
  line-height: 20px;
  bottom: 50px;
  right: 30px;
}
.mod {
  .dialog {
    .conten {
      .modheader {
        h2 {
          text-decoration: underline;
          color: hsl(0, 0%, 0%);
          font-size: 2rem;
        }
      }
      .modbody {
        p {
          color: $color-letra;
          spam {
            color: black;
            text-decoration: underline;
          }
        }
      }
      .modfooter {
        .pie {
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
}
.tutoriales {
  font-family: "Playfair Display", serif;
  background: linear-gradient($color-fondo);
  color: #4dc2b7;

  .nav {
    .nav-link {
      color: #4dc2b7;
      &:hover {
        color: #4dc2b7;
      }
    }
  }
}
