.header {
  font-family: "Playfair Display", serif;
  .contento {
    .menuo {
      .tutorialeso {
        font-size: 2rem;
        padding: 20px;
        @include mediaquery(1200px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.boton {
  position: fixed;
  width: 110px;
  line-height: 20px;
  bottom: 50px;
  right: 30px;
}
.tutoriales {
  font-family: "Playfair Display", serif;
  background: linear-gradient($color-fondo);
  color: #4dc2b7;

  .nav {
    .nav-link {
      color: #4dc2b7;
      &:hover {
        color: #4dc2b7;
      }
    }
  }
}
